NotificationModule/__pycache__/urls.cpython-312.pyc
NotificationModule/__pycache__/settings.cpython-312.pyc
NotificationModule/__pycache__/asgi.cpython-312.pyc
NotifyMe/signals.py
NotificationModule/__pycache__/__init__.cpython-312.pyc
NotificationModule/__pycache__/constants.cpython-312.pyc
NotifyMe/models/subscriptionPlan.py
NotifyMe/routing.py
NotifyMe/management/commands.py
api/__pycache__/__init__.cpython-312.pyc
NotificationModule/__init__.py
NotificationModule/__init__.py
api/__pycache__/urls.cpython-312.pyc
NotificationModule/__init__.py
NotificationModule/celery.py
NotificationModule/constants.py
log/warning.log
.env

C:\Users\Guddu\Desktop\Django\NotificationService\NotificationModule\logs\warning.log
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\.env

C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\logs
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\logs\error.log
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\logs\info.log
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\logs\warning.log
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotificationModule\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotificationModule\__pycache__\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\__pycache__\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\env
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\env\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\__pycache__\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\migrations\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\migrations\__pycache__\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\models\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\models\__pycache__\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\services\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\services\__pycache__\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\utils\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\utils\__pycache__\
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\views\__pycache__
C:\Users\Guddu\Desktop\Notification_Management\real-time-notification\backend\NotifyMe\views\__pycache__\

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# If you are using PyCharm # 
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.whl
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 


# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
