NotificationModule/__pycache__/urls.cpython-312.pyc
NotificationModule/__pycache__/settings.cpython-312.pyc
NotificationModule/__pycache__/asgi.cpython-312.pyc
NotifyMe/signals.py
NotificationModule/__pycache__/__init__.cpython-312.pyc
NotificationModule/__pycache__/constants.cpython-312.pyc
NotifyMe/models/subscriptionPlan.py
NotifyMe/routing.py
NotifyMe/management/commands.py
api/__pycache__/__init__.cpython-312.pyc
NotificationModule/__init__.py
NotificationModule/__init__.py
api/__pycache__/urls.cpython-312.pyc
NotificationModule/__init__.py
NotificationModule/celery.py
NotificationModule/constants.py
log/warning.log
.env
NotificationModule/__pycache__/celery.cpython-312.pyc

C:\Users\Guddu\Desktop\Django\NotificationService\NotificationModule\logs

C:\Users\Guddu\Desktop\Django\NotificationService\NotificationModule\logs\error.log

C:\Users\Guddu\Desktop\Django\NotificationService\NotificationModule\logs\info.log

C:\Users\Guddu\Desktop\Django\NotificationService\NotificationModule\logs\warning.log
