__pycache__
C:\Users\Guddu\Desktop\new Notification\real-time-notification\NotifyBackend\NotificationModule\__pycache__
C:\Users\Guddu\Desktop\new Notification\real-time-notification\NotifyBackend\NotificationModule\__pycache__\